body{
   
    background-color: var(--background-color);
}
:root{
    --primary-color:#212529;
    --background-color:rgb(234,243,250);
}
.dark-theme{
    
    --primary-color:#edf2fc;
    --background-color:#212529;
}
.page{
     width:100vw;
     /* border:2px solid black; */
    height:1350px;
    margin: 0px 0px 0px 250px;
    padding: 0px 0px 250px;
    background-color: var(--background-color);
    overflow: hidden;
    flex-wrap: wrap;
}
.heading{
    width: 1060.8px;
    height: 31.2px;
    /* color:#212529; */
    color:var(--primary-color);
    font: 24px "Roboto Slab",serif;
    margin: 14.92px 0px 4px;
    padding: 0px 0px 0px 24px;
    flex-wrap: wrap;

}
.box1{
    width:35%;
    height: 1300px;
    /* border: 2px solid black; */
    display:inline-block;
    flex-direction: column;

}
.box2{
    width: 45%;
    height: 1300px;
    /* border: 2px solid black; */
    display:inline-block;
    margin-left: 80px;
   
}
.innerbox{
    width:390px;
    height: 320px;
    /* border: 2px solid black; */
    display: inline-block;
}
.inner_box{
    width:550px;
    height: 320px;
    /* border: 2px solid black; */
    display: inline-block;
}
.content2{

    flex-direction: row;
}
.A{  display: inline-block;
    width: 215px;
    height: 27.2px;
    /* color: #212529; */
    color: var(--primary-color);
    font:20.8px "Roboto Slab", serif;
    margin: 20.8px 35.2px 20.8px 0px;
    flex-wrap: wrap;

}
.i{ 
    display: inline-block;
    width: 26.8px;
    height: 58px;
    padding: 4.8px 0px 0px 0px;
}
#a{
    background-image: url("image1.jpg");
    background-size: cover;
    /* transform: rotateX(90'angle'); */
   
}
.inner_box:hover{
    transform: rotateX(90'angle');
}
#b{
    background-image: url("s2-image.jpg");
    background-size: cover;
}
#c{
    background-image: url("s3-image.jpg");
    background-size: cover;
}
#d{
    background-image: url("s4-image.jpg");
    background-size: cover;
}
h2{ 
    width:424.31;
    /* color:#212529; */
    color:var(--primary-color);
    height:121.6;
    font:48px "Roboto Slab",serif;
    padding: 6.4px 0px 0px 0px;
    margin: 50px 0px;
 
    flex-wrap: wrap;   font-weight: 300;
}
h3{
    color:var(--primary-color)
}
.pointer{
    width:26px;
    height: 68.8px;
    padding: 4.8px 0px 0px;
}
p{
    width: 250px;
    height: 23.2px;
    /* color: #212529; */
    color: var(--primary-color);
    font: 17.68px "Roboto Slab",serif;
    margin: 17.68px 29.92px 17.68px 0px;
}
.heading:hover{
    color:gray;
    transition: all ease-in;
   float: calc(10px);
   cursor: pointer;
}
h2.hover{
    transition:  all 2s ease-out 2s;
    cursor: pointer;
}
.A:hover{
    color: grey;
    cursor: pointer;
}
#ab:hover{
    color: #373d42;
    cursor: pointer;

}
.dark-theme{
    width:200px;
    height:50px;
    color:white;
    background-color:#212529;
    cursor: pointer;
}
main{
    width: 1400px;
    height: 1400px;
    /* border: 2px solid black; */
    background-color: var(--background-color);
}

