body{
    background-color: rgb(75, 117, 164);
}
.page{
    width: 100vw;
    height:100vh;
    background-image: url(backgroundimg.png);
    background-size: cover;
}
.navbar{
    width:100vw;
    height:100px;
    background-color: #0D3B66;
    display:flex;
    flex-direction: row;
}
.A{
    width: 25vw;
    height: 60px;
    border: 2px solid white;
    margin: 20px 20px 20px 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.logo{
    width:7vw;
    height: 60px;
    background-image: url(logo.png);
    background-size: cover;
  
}
h1{
    color: white;
    margin: 20px 20px 20px 20px;
}
.content{
    display: flex;
    flex-direction: column;
}
.login{
    color: white;
    margin: 5px 0px 0px 50vw;
}
.lowerpanel{
    display: flex;
    flex-direction: row;
}
.B{
    width: 10vw;
    height: 30px;
    /* border: 2px solid white; */
    margin: 15px 0px 35px 20vw;
    justify-content: center;
    text-decoration: none;
}
h4{
    margin:10px 10px 10px 0px;
    color: white;
}
.C{
    width: 10vw;
    height: 30px;
    /* border: 2px solid white; */
    margin: 15px 0px 35px 0px;
    text-decoration: none;
}
.D{
    width: 10vw;
    height: 30px;
    /* border: 2px solid white; */
    margin: 15px 0px 35px 0px;
    text-decoration: none;
}
.E{
    width: 10vw;
    height: 30px;
    /* border: 2px solid white; */
    margin: 15px 0px 35px 0px;
    text-decoration: none;
}
.G{ width: 7vw;
    height: 30px;
   
    margin: 15px 0px 35px 0px;
    text-decoration: none;

}
.F{
    width: 1vw;
    height:20px;
    margin: 20px 0px 30px 0px;
    /* background-color: white; */
    
}
h2{
    margin: 50vh  0 0 10vw  ;
   color: white;
   font-size: xx-large;
}
